################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/aspnet_client/
/.vs
